{% extends "base.html" %}

{% block content %}
    <h2>Пейзажи Марса</h2>

    {% for image in images %}
        <div>
            <img src="{{ '/../static/img/mars_gallery/' + image }}" alt="Картинка не нашлась">
        </div>
    {% endfor %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}